
.cards-container{
}

.card{
    -fx-border-color: rgb(247, 247, 247);
    -fx-border-width: 0.5px;
   
    -fx-background-color:  #ffffff;
    -fx-background-radius: 8px;      
    -fx-padding: 8px;        
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.054), 40, 0, 4, 4);  
}


.card:hover{
   
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.139), 40, 0, 4, 4);  
    -fx-cursor: hand;
}
.icon-container{

}

.description-container{

}

.title{

    -fx-text-fill: rgb(0, 0, 0);
}

.description{

    -fx-text-fill: rgb(162, 162, 162);

}